.whatsapp-bull{

	width: 5.9%;
	padding: .9% 0;
	background-color: #25d366;
	position: fixed;
	bottom: 5%;
	right: 3%;
	z-index: 50000000;
	border-radius: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3vw;
	color: white;
	cursor: pointer;
    animation: fadeInOut 1s infinite;

}
.feedback {
	background-color : #B22222;;
	color: white;
	padding: 10px 20px;
	border-radius: 4px;
	border-color: #B22222;;
    animation: fadeInOut 1s infinite;
  }
  
  #mybutton {
	position: fixed;
	bottom: -4px;
	left: 10px;
  }
@keyframes fadeInOut {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
@media only screen and (max-width: 480px){


	.whatsapp-bull{

		width: 17%;
	    padding: 4% 0;
	    background-color: #25d366;
	    position: fixed;
	    bottom: 7%;
	    right: 5%;
	    border-radius: 100vw;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    font-size: 32px;
	    color: white;
	    cursor: pointer;

	}

}